.navbar-nav .dropdown-menu {
  position: absolute;
}

.back-start {
  background-image: url(../images/basketback.jpg);
  background-size: cover;
  height: 100vh;
}

.infoback {
  background-image: url(../images/infoback.gif);
  background-size: cover;
}

.playerback {
  background-image: url(../images/playerback.jpg);
  background-size: cover;
}

.container-start {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 35px;
  gap: 20px;
  
}

.container-info {
  box-sizing: border-box;
  height: 100vh;
}

.infopic {
  display: flex;
  justify-content: center;
}

.infopic img {
  width: 500px;
  margin-top: 100px;
}

.infopic img:hover {
  border-radius: 50%;
  width: 700px;
  transition: 1s;
}

.nba img {
  width: 500px;
}

img:hover {
  box-shadow: 2px 2px 15px;
  transition: 0.5s;
}

.h1player {
  text-align: center;
  color: white;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #000000;
  }
}

.h1start {
  text-align: center;
  color: white;
}

.projectbig {
  display: flex;
  justify-content: center;
}

.projectbig img {
  width: 700px;
}

.projectsmall {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  margin-top: 20px;
}

.projectsmall img {
  width: 500px;
}


.infotext {
  width: 500px;
  margin: auto;
  color: white;
  font-style: italic;
  padding-top: 50px;
}

.nav-item {
  font-family: "Segoe UI";
  font-size: 20px;
}

ul {
  display: flex;
  align-items: center;
  font-style: bold;
}

.playertext {
  font-weight: bold;
  text-align: center;
  color: black;
  width: 500px;
  margin: auto;
  padding: 30px;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #000000;
  }
}
